/*
div.syntaxhighlighter > pre, code {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
}

div.syntaxhighlighter > table, td, tr {
    border-collapse: inherit;
    border: 0;
    border-spacing: none;
}
*/
/*.pull-center { float: none; margin-left: auto; margin-right: auto; } */

a, a:hover, a:visited {
	color: #4b87cf;
}
pre {
    word-break: normal;
}
div.alert-block a {
	/*color: #4b87cf;*/
	color: #3b327f;
	/*font-weight: bold;*/
}
/*
h1, h2, h3, h4, h5, h6 a, a:hover, a:visited {
	color: inherit;
}
*/
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}

.post-meta-month, .post-meta-day, .post-meta-year {
    text-align: center;
    color: #fff;
    padding-top: .5em;
    padding-bottom: .5em;
}

.post-meta-month {
    /*background-color: #7E93A8;*/
    background-color: rgb(211, 137, 20);
}

.post-meta-day {
    background-color: #6F8CA8;
}

.post-meta-year {
    background-color: #28323C;
}

h2.post-title {
    margin: 0;
}

.image-caption {
    max-width: 90%;
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    color: rgb(255, 166, 26);
}

.navbar a.brand:hover {
    color: #fff;
}

.navbar .brand {
    font-size: 30px;
}

@media (max-width: 979px)
{
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
        padding: 0;
    }

    #mainNavToggleButton {
        margin: 14.5px 15px 14.5px;
    }
}