/*
div.syntaxhighlighter > pre, code {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
}

div.syntaxhighlighter > table, td, tr {
    border-collapse: inherit;
    border: 0;
    border-spacing: none;
}
*/
/*.pull-center { float: none; margin-left: auto; margin-right: auto; } */

a, a:hover, a:visited {
	color: #4b87cf;
}
pre {
    word-break: normal;
}
div.alert-block a {
    /*color: #4b87cf;*/
    color: #3b327f;
    /*font-weight: bold;*/
}
div.alert-warn a, div.alert-warn a:hover, div.alert-warn a:focus, div.alert-warn a:visited {
    /*color: #4b87cf;*/
    color: rgb(37, 109, 196);
    /*font-weight: bold;*/
}
a.btn, a.btn:hover, a.btn:visited, a.btn:focus {
    color: black;
}
/*
h1, h2, h3, h4, h5, h6 a, a:hover, a:visited {
	color: inherit;
}
*/
@media (min-width: 980px) {
    body {
        padding-top: 60px;
    }
}

.post-meta-month, .post-meta-day, .post-meta-year {
    text-align: center;
    color: #fff;
    padding-top: .5em;
    padding-bottom: .5em;
}

.post-meta-month {
    /*background-color: #7E93A8;*/
    background-color: rgb(211, 137, 20);
}

.post-meta-day {
    background-color: #6F8CA8;
}

.post-meta-year {
    background-color: #28323C;
}

h2.post-title {
    margin: 0;
}

.image-caption {
    max-width: 90%;
}

.navbar .nav>li>a.active {
    color: rgb(240, 190, 61);
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    color: rgb(255, 166, 26);
}

a.btn-inverse, a.btn-inverse:hover, a.btn-inverse:focus,
a.brand-hero-button, a.brand-hero-button:hover, a.brand-hero-button:visited, a.brand-hero-button:focus {
    color: rgb(255, 255, 255) !important;
}

.navbar a.brand:hover {
    color: #fff;
}

.navbar .brand {
    font-size: 30px;
    vertical-align: middle;
}

img.brand-gravitar {
    height: 40px;
    width: 40px;
    margin: 5px;
}

@media (max-width: 979px)
{
    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
        padding: 0;
    }

    #mainNavToggleButton {
        margin: 14.5px 15px 14.5px;
    }
}

.pull-center {
    text-align: center;
}

@media (max-width: 480px) {
    #hero-read-blog-btn {
        margin: 5px 0 0 0;
    }

    .info > h3 {
        clear: both;
    }
}

i.icon-gmail {
    color: #dd4b39;
}

.socialicons .facebook, i.icon-facebook-sign {
    color: #3b5998;
}

.socialicons .github, i.icon-github-sign {
    color: black;
}

.socialicons .twitter, i.icon-twitter-sign {
    color: #00a0d1;
}

.socialicons .rss, i.icon-rss-sign {
    color: #fa9b39;
}

.socialicons .linkedin, i.icon-linkedin-sign {
    color: #4875B4;
}

img.icon-stackoverflow {
    width: 150px;
    height: 148px;
}

.socialicons a {
    text-decoration: none;
}

.topsidebar h3 {
    margin-top: 0;
}

.socialicons .stackoverflowflair {
    position: relative;
    /* Account for padding in the image */
    left: -4px;
}

.stackoverflowsvg {
    width: 26px;
    height: 31px;
    vertical-align: top;
    position: relative;
    top: 2px;
}

.post-meta-tags {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* rotate author under dates. IE hates it of course
.post-meta-author {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    font-size: 20px;
    width: 250px;
    left: -75px;
    position: relative;
    top: 120px;
}
*/

.resume-link {
    vertical-align: middle;
    line-height: 25px;
}

.resume-link img {
    width: 20px;
    height: 20px;
}

#resume-info section {
    margin-top: 10px;
}

.no-decorate-image-link, .no-decorate-image-link:hover, .no-decorate-image-link:active, .no-decorate-image-link:visited {
    text-decoration: none;
    color: inherit;
}

.sidebar-tag-name {
    padding: 5px 5px 5px 0;
}

footer hr {
    clear: both;
}

.tags .tag {
    display: inline-block;
    background-color: #444;
    padding: 4px 10px;
    margin: 0 3px 5px 0;
    color: #ffffff;
}

.tags > .tag > a, .tags > .tag > a:hover, .tags > .tag > a:focus, .tags > .tag > a:visited {
    color: #ffffff;
    text-decoration: none;
}

.tags .tag:hover {
    background-color: #005DB3;
}

.contact-method {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: solid 4px #eee;
    padding: 0em 1em 0em 1em;
    display: inline-block;
    width: 150px;
    height: 185px;
    text-align: center;
    margin-top: 10px;
}

.contact-method i {
    font-size: 10em;
}

.contact-method-description {
    margin-bottom: 1em;
}

#blog-archives-sidebar-listing .accordion-toggle, .no-pointer {
    cursor: auto;
}

.post-meta-google-authorship {
    display: none;
}

@media (max-width: 979px) {
    .navbar .nav-collapse .nav>li>a:focus, .navbar .nav-collapse .nav>li>a:hover {
        color: #fff;
        background-color: rgb(91, 127, 163);
    }
}

#container {
    overflow-x: hidden;
}