<footer>
    <hr />
    <div class="piecrustbranding"><p class="pull-center"><a href="{{ pcurl('aboutsite/') }}">About the Site</a></p></div>
</footer>

{{ google.analytics('UA-29873536-1') }}
{{ piecrust.debug_info|raw }}