<footer>
    <div class="piecrustbranding hidden-phone"><p class="pull-center">{{ piecrust.branding|raw }}</p></div>
</footer>

{{ google.analytics('UA-29873536-1') }}
{{ piecrust.debug_info|raw }}