{% extends '.template.html.twig' %}

{% block content %}

    <div class="row pull-center">
        <div class="span12 service">
            <div class="well bg-color-blue-light fg-color-darken">
                <h2>Hi there! I'm <span class="fg-color-green">Chris Benard</span>.</h2>
                <p>
                    I'm a software developer living in Texas. I specialize in .Net and connected systems, 
                    and I like to help machines talk to each other. I write about programming topics and
                    personal stuff too here on this site. Feel free to read more or get in touch!
                </p>
                <p>
                    <a class="btn btn-info btn-large" href="{{site.root}}contact">Get in Touch</a>
                    <em class="hidden-phone">&ndash; or &ndash;</em>
                    <a class="btn btn-success btn-large" id="hero-read-blog-btn" href="{{site.root}}blog">Read My Blog</a>
                </p>
            </div>
        </div>
    </div>

    <h2>Latest From My Blog</h2>

    <div class="row">
        <section id="page-sidebar" class="pull-left span9">
            {{ content|raw }}

            <div class="pagination pagination-centered">
                <a class="btn btn-success btn-large" href="{{site.root}}blog">Go To My Blog Page</a>
            </div>
        </section>

        {% block sidebar %}
            {% include 'sidebar.html.twig' %}
        {% endblock %}
    </div>

{% endblock %}