{% extends '.template.html.twig' %}
{% import 'macros/sidebar.html.twig' as sidebar %}

{% block content %}
	{% if page.title %}
	<h2 class="post-title">{{ page.title }}</h2>
	{% endif %}

    {{ content|raw }}
{% endblock %}