{% import 'macros/disqus.html.twig' as disqus %}
{% import 'macros/siteposts.html.twig' as siteposts %}
{% import 'macros/sidebar.html.twig' as sidebar %}
{% extends '.template.html.twig' %}

{% block content %}

    <div class="row">
        <section id="page-sidebar" class="pull-left span9">

            {{ siteposts.renderpartial(page, content, true) }}

            <div class="span8 pull-right">
                <h3>Comments</h3>
                <div id="disqus_thread"></div>
            </div>
        </section>

        {% block sidebar %}
            {{ sidebar.showsidebar(blog, true) }}
        {% endblock %}
    </div>

{% endblock %}

{% block javascriptBottom %}
    {{ parent() }}
    {{ disqus.commentthread(page.slug) }}
{% endblock %}
