<section class="breadcrumbs">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="span12">
                    <h1>{% block title %}{% endblock %}<small> {% block subTitle %}{% endblock %}</small></h1>
                    <div>{% block subText %}{% endblock %}</div>
                </div>
            </div>
        </div>
    </div>
</section>