<section>
    <h3 class="widget-title">Tag Cloud</h3>
    <div class="tags">
        {% for tag in blog.tags %}
            <a href="{{ pcurl('tag/' ~ tag.name) }}"><i class="icon-tag icon-white"></i>{{ tag.name }}</a>
        {% endfor %}
    </div>
</section>